{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
  <li class="active">Pisteet kurssilla {{course.name}}</li>
</ol>

<table class="table table-striped table-bordered" style="table-layout: fixed;">
    <caption>Pisteet harjoituksittain</caption>
    <thead>
        <tr>
            {% for number in points|keys %}
            <th><a href="#" id="{{number}}" onclick="showPoints(this)">{{number}}</a></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for point in points %}
            <td>{{point.total_points}}/{{point.number_of_problems}}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%">
    {{percentage}}% tehty
  </div>
</div>

{% for number in marks|keys %}
<div id="div{{number}}" class="div-exercise" style="display: none;">
    <table class="table table-striped table-bordered" style="table-layout: fixed;">
        <caption>Harjoitus {{number}}</caption>
        <thead>
            <tr>
                {% for problemnumber in marks[number]|keys %}
                <th>{{problemnumber}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for mark in marks[number] %}
                <td>{{mark}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endfor %}

{% endblock %}