{% extends "base.html" %}
{% block content %}
<h1>Pisteet kurssilla {{course.name}}</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            {% for number in points|keys %}
            <th><button id="{{number}}" onclick="showPoints(this)">Harjoitus {{number}}</button></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for point in points %}
            <td>{{point.total_points}}/{{point.number_of_problems}}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

{% for number in marks|keys %}
<div id="div{{number}}" class="div-exercise" style="display: none;">
<h3>Harjoitus {{number}}</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            {% for problemnumber in marks[number]|keys %}
            <th>Tehtävä {{problemnumber}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for mark in marks[number] %}
            <td>{{mark}}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
</div>
{% endfor %}

{% endblock %}