{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{base_path}}/courses">Kurssit</a></li>
    <li><a href="{{base_path}}/courses/{{course.id}}">{{course.name}} ({{course.term}})</a></li>
    <li><a href="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}">Harjoitus {{exercise.exercise_number}}</a></li>
    {% if option == '/first' %}
    <li class="active">Kirjaa ensimmäisiä korjauksia</li>
    {% elseif option == '/second' %}
    <li class="active">Kirjaa toisia korjauksia</li>
    {% else %}
    <li class="active">Kirjaa pisteitä</li>
    {% endif %}
</ol>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}

{% for ret in returns %}
<input type="hidden" id="{{ret.student_id}}p{{ret.problem_id}}" value="{{ret.mark}}" />
{% endfor %}

{% for ans in answers %}
<input type="hidden" id="{{ans.student_id}}q{{ans.question_id}}" value="{{ans.mark}}" />
{% endfor %}

<form method="post" action="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/log{{option}}">
    <div class="form">
        <div class="form-inline">
            <label>Kurssitunnus</label>
            <select id="selCourseNo" class="selectpicker" data-live-search="true" name="course_number">
                <option></option>
                {% for student in students %}
                <option value="{{student.id}}">{{student.course_number}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary" onclick="enable()">Tallenna</button>
        </div>
        {% if option == '' %}
        <label>Kysymykset</label>
        <button type="button" class="btn btn-default" onclick="selectAllQuestions()">Valitse kaikki</button>
        <button type="button" class="btn btn-default" onclick="removeAllQuestions()">Poista valinnat</button>
        <div class="row form-group">
            {% for question in questions %}
            <div class="col-sm-1">
                <label class="checkboxtext">{{question.question_number}}</label>
                <input id="q{{question.question_number}}" name=q{{question.id}} class="form-control checkbox q-checkbox" value="" type="checkbox">
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <label>Tehtävät</label>
        <button type="button" class="btn btn-default" onclick="selectAll()">Valitse kaikki</button>
        <button type="button" class="btn btn-default" onclick="removeAll()">Poista valinnat</button>
        <div class="row form-group">
            {% for problem in problems %}
            <div class="col-sm-1 form-group">
                <label class="checkboxtext">{{problem.problem_number}}{% if problem.star_problem %}*{% endif %}</label>
                {% if problem.star_problem %}
                <input id="p{{problem.problem_number}}" name={{problem.id}} class="form-control checkbox star-checkbox" value="" type="checkbox" disabled>
                {% else %}
                <input id="p{{problem.problem_number}}" name={{problem.id}} class="form-control checkbox ns-checkbox" value="" type="checkbox" disabled>
                {% endif %}
            </div>
            {% if (problem.problem_number|number_format)%5 == 0 %}
        </div>
        <div class="row form-group">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary" onclick="enable()">Tallenna</button>
</form>

{% endblock %}
