{% extends "base.html" %}
{% block content %}
<h1>Kirjaa pisteitä</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}

{% for ret in returns %}
<input type="hidden" id="{{ret.student_id}}|{{ret.problem_id}}" value="{{ret.mark}}" />
{% endfor %}

<form method="post" action="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/log{{option}}">
    <div class="form-group">
        <div class="form-inline">
            <label>Kurssitunnus</label>
            <select id="selCourseNo" class="form-control" name="course_number">
                <option value=""></option>
                {% for student in students %}
                <option value="{{student.id}}">{{student.course_number}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row form-inline">
            {% for problem in problems %}
            <div class="col-md-1">
                <pre>{{problem.problem_number}}{% if problem.star_problem %}*{% endif %}</pre>
                {% if problem.star_problem %}
                <input name={{problem.id}} class="form-control checkbox star-checkbox" value="" type="checkbox" style="width:70px; height:70px;">
                {% else %}
                <input name={{problem.id}} class="form-control checkbox ns-checkbox" value="" type="checkbox" style="width:70px; height:70px;">
                {% endif %}
            </div>
            {% if (problem.problem_number|number_format)%5 == 0 %}
        </div>
        <div class=" row form-inline">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Tallenna</button>
</form>
{% endblock %}