{% extends "base.html" %}
{% block content %}
{% if option == '/first' %}
<h1>Kirjaa ensimmäisiä korjauksia</h1>
{% elseif option == '/second' %}
<h1>Kirjaa toisia korjauksia</h1>
{% else %}
<h1>Kirjaa pisteitä</h1>
{% endif %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}

{% for ret in returns %}
<input type="hidden" id="{{ret.student_id}}p{{ret.problem_id}}" value="{{ret.mark}}" />
{% endfor %}

{% for ans in answers %}
<input type="hidden" id="{{ans.student_id}}q{{ans.question_id}}" value="{{ans.mark}}" />
{% endfor %}

<form method="post" action="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/log{{option}}">
    <div class="form">
        <div class="form-inline">
            <label>Kurssitunnus</label>
            <select id="selCourseNo" class="selectpicker" data-live-search="true" name="course_number">
                <option></option>
                {% for student in students %}
                <option value="{{student.id}}">{{student.course_number}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row form-group">
            {% for problem in problems %}
            <div class="col-sm-1 form-inline">
                <pre>{{problem.problem_number}}{% if problem.star_problem %}*{% endif %}</pre>
                {% if problem.star_problem %}
                <input id="p{{problem.problem_number}}" name={{problem.id}} class="form-control checkbox star-checkbox" value="" type="checkbox" style="width:70px; height:70px;">
                {% else %}
                <input id="p{{problem.problem_number}}" name={{problem.id}} class="form-control checkbox ns-checkbox" value="" type="checkbox" style="width:70px; height:70px;">
                {% endif %}
            </div>
            {% if (problem.problem_number|number_format)%5 == 0 %}
        </div>
        <div class="row form-group">
            {% endif %}
            {% endfor %}
        </div>
        <div class="row form-group">
            {% for question in questions %}
            <div class="col-sm-1 form-inline">
                <pre>{{question.question_number}}</pre>
                <input id="q{{question.question_number}}" name=q{{question.id}} class="form-control checkbox q-checkbox" value="" type="checkbox" style="width:70px; height:70px;">
            </div>
            {% endfor %}
        </div>
    </div>
    <button type="button" class="btn btn-default" onclick="selectAll()">Valitse kaikki</button>
    <button type="button" class="btn btn-default" onclick="removeAll()">Poista valinnat</button>
    <button type="submit" class="btn btn-primary" onclick="enable()">Tallenna</button>
</form>

{% endblock %}