{% extends "base.html" %}
{% block content %}
<h1>Opiskelijat</h1>

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

<p>
    <a href="{{base_path}}/courses/{{course.id}}/students/new" class="btn btn-success">Lisää opiskelijoita</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Opiskelijanumero</th>
            <th>Kurssitunnus</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{student.student_number}}</td>
            <td>{{student.course_number}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}