{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="{{base_path}}/courses">Kurssit</a></li>
  <li><a href="{{base_path}}/courses/{{course.id}}">{{course.name}} ({{course.term}})</a></li>
  <li class="active">Opiskelijat</li>
</ol>

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

{% if user_logged_in.is_teacher %}
<p>
    <a href="{{base_path}}/courses/{{course.id}}/students/new" class="btn btn-success">Lisää opiskelijoita</a>
</p>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Opiskelijanumero</th>
            <th>Kurssitunnus</th>
            {% if user_logged_in.is_teacher %}
            <th></th>
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{student.student_number}}</td>
            <td><form method="post" action="{{base_path}}/scores"><button type="submit" class="btn btn-default" name="course_number" value="{{student.course_number}}">{{student.course_number}}</button></form></td>
            {% if user_logged_in.is_teacher %}
            <td><a href="{{base_path}}/courses/{{course.id}}/students/{{student.id}}/edit" class="btn btn-default">Muokkaa</a></td>
            <td><form method="post" action="{{base_path}}/courses/{{course.id}}/students/{{student.id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa opiskelijan?">
                    <button type="submit" class="btn btn-danger pull-right">Poista</button>
                </form></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}