{% extends "base.html" %}
{% block content %}
<h1>Muokkaa kurssia</h1>

<form>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value="{{course.name}}">
    </div>
    <div class="form-group">
        <label>Lukukausi</label>
        <input type="text" class="form-control" value="{{course.term}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}