{% extends "base.html" %}
{% block content %}
<h1>Kurssit</h1>

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

{% if user_logged_in.is_teacher %}
<p>
    <a href="{{base_path}}/courses/new" class="btn btn-success">Lisää kurssi</a>
</p>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Lukukausi</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td><a href="{{base_path}}/courses/{{course.id}}">{{course.name}}</td>
            <td>{{course.term}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}