{% extends "base.html" %}
{% block content %}
<h1>{{course.name}} ({{course.term}})</h1>

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

<p>
    <a href="{{base_path}}/courses/{{course.id}}/exercises/new" class="btn btn-primary">Lisää harjoitus</a>
    <a href="{{base_path}}/courses/{{course.id}}/students" class="btn btn-primary">Opiskelijat</a>
    <a href="{{base_path}}/courses/{{course.id}}/csv" class="btn btn-primary">Lataa CSV-tiedosto</a>
    {% if user_logged_in.is_teacher %}
    <form method="post" action="{{base_path}}/courses/{{course.id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa kurssin?">
        <button type="submit" class="btn btn-danger pull-right">Poista</button>
    </form>
    <a href="{{base_path}}/courses/{{course.id}}/edit" class="btn btn-default pull-right">Muokkaa</a>
    {% endif %}
</p>

<table class="table table-striped table-bordered">
    <caption>Opiskelijoita yhteensä {{course.number_of_students}}, joista tehtäviä palauttaneita {{course.number_of_returned}}</caption>
    <thead>
        <tr>
            <th>Harjoitus</th>
            <th>Tehtävien lukumäärä</th>
            <th>Tähtitehtävien lukumäärä</th>
            <th>Tehtäviä palauttaneiden lkm</th>
            <th>Maksimipistemäärä (ei-tähti)</th>
            <th>Maksimipistemäärä (tähti)</th>
        </tr>
    </thead>
    <tbody>
        {% for exercise in exercises %}
        <tr>
            <td><a href="{{base_path}}/courses/{{exercise.course_id}}/exercises/{{exercise.id}}">Harjoitus {{exercise.exercise_number}}</a></td>
            <td>{{exercise.number_of_problems}}</td>
            <td>{{exercise.number_of_star_problems}}</td>
            <td>{{exercise.number_of_returned}}</td>
            <td>{{exercise.max_non_star_score}}</td>
            <td>{{exercise.max_star_score}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}