{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{course.name}} ({{course.term}})</h1>

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

<p>
    <a href="{{base_path}}/courses/{{course.id}}/exercises/new" class="btn btn-success">Lisää harjoitus</a>
    <a href="{{base_path}}/courses/{{course.id}}/students" class="btn btn-success">Opiskelijat</a>
    <a href="{{base_path}}/courses/{{course.id}}/edit" class="btn btn-default">Muokkaa</a>
    {{forms.destroy_button("#{base_path}/courses/#{course.id}/destroy")}}
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Harjoitus</th>
            <th>Tehtävien lukumäärä</th>
            <th>Tähtitehtävien lukumäärä</th>
        </tr>
    </thead>
    <tbody>
        {% for exercise in exercises %}
        <tr>
            <td><a href="{{base_path}}/courses/{{exercise.course_id}}/exercises/{{exercise.id}}">Harjoitus {{exercise.exercise_number}}</a></td>
            <td>{{exercise.number_of_exercises}}</td>
            <td>{{exercise.number_of_star_exercises}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}