{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>Harjoitus {{exercise.exercise_number}}</h1>

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

<p>
    <a href="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/edit" class="btn btn-default">Muokkaa</a>
    {{forms.destroy_button("#{base_path}/courses/#{course.id}/exercises/#{exercise.id}/destroy")}}
</p>

<p>
    <a href="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/log" class="btn btn-primary">Kirjaa pisteitä</a>
</p>
{% endblock %}