{% extends "base.html" %}
{% block content %}s
<ol class="breadcrumb">
  <li><a href="{{base_path}}/courses">Kurssit</a></li>
  <li><a href="{{base_path}}/courses/{{course.id}}">{{course.name}} ({{course.term}})</a></li>
  <li class="active">Harjoitus {{exercise.exercise_number}}</li>
</ol>

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

<div id="numberOfReturnedProblems" style="display: none;">
{% for problem in problems %}
<input type="hidden" id="{{problem.problem_number}}" value="{{problem.number_of_returned}}" />
{% endfor %}
</div>

<div id="numberOfCorrectProblems" style="display: none;">
{% for problem in problems %}
{% if problem.star_problem %}
<input type="hidden" id="{{problem.problem_number}}_" value="{'correct':{{problem.number_of_correct}},'incorrect':{{problem.number_of_incorrect}}}" />
{% endif %}
{% endfor %}
</div>

<p>
    <a href="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/log" class="btn btn-primary">Kirjaa pisteitä</a>
    <a href="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/log/first" class="btn btn-primary">Kirjaa ensimmäisiä korjauksia</a>
    <a href="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/log/second" class="btn btn-primary">Kirjaa toisia korjauksia</a>
    <a href="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/csv" class="btn btn-primary">Lataa CSV-tiedosto</a>
    {% if user_logged_in.is_teacher %}
<form method="post" action="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa harjoituksen?">
    <button type="submit" class="btn btn-danger pull-right">Poista</button>
</form>
<a href="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/edit" class="btn btn-default pull-right">Muokkaa</a>
{% endif %}
</p>

<ul>
    <li>Maksimipistemäärä (ei-tähti): {{exercise.max_non_star_score}}</li>
    <li>Maksimipistemäärä (tähti): {{exercise.max_star_score}}</li>
</ul>

<caption>Tehtäviä palauttaneiden opiskelijoiden lukumäärä tehtäväkohtaisesti</caption>
<canvas id="problemChart" width="1000" height="400"></canvas>

<caption>Tähtitehtävien oikein/väärin-jakauma</caption>
<canvas id="starProblemChart" width="1000" height="400"></canvas>

{% endblock %}
