{% extends "base.html" %}
{% block content %}
<h1>Harjoitus {{exercise.exercise_number}}</h1>

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

<p>
    <a href="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/log" class="btn btn-primary">Kirjaa pisteitä</a>
    <a href="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/log/first" class="btn btn-primary">Kirjaa ensimmäisiä korjauksia</a>
    <a href="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/log/second" class="btn btn-primary">Kirjaa toisia korjauksia</a>
    {% if user_logged_in.is_teacher %}
    <form method="post" action="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa harjoituksen?">
        <button type="submit" class="btn btn-danger pull-right">Poista</button>
    </form>
    <a href="{{base_path}}/courses/{{course.id}}/exercises/{{exercise.id}}/edit" class="btn btn-default pull-right">Muokkaa</a>
    {% endif %}
</p>

{% endblock %}