{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
  <li class="active">Käyttäjät</li>
</ol>

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

<ul>
    {% for user in users %}
    <li>
        <p>{{user.name}} ({{user.email}})</p>
        <div class="row-fluid span12">
            <div class="span6 btn">
                <form method="post" action="{{base_path}}/users/{{user.id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa käyttäjän?">
                    <button type="submit" class="btn btn-danger pull-right">Poista</button>
                </form>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}