{% extends "base.html" %}
{% block content %}
<h1>Rekisteröidy</h1>

<form>
    <div class="form-group">
        <label>Sähköpostiosoite</label>
        <input type="email" class="form-control">
    </div>
    <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control">
    </div>
    <div class="form-group">
        <label>Rooli</label><br>
        <label class="radio-inline"><input type="radio" name="radio">Ohjaaja</label>
        <label class="radio-inline"><input type="radio" name="radio">Opettaja</label>
    </div>
    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
</form>
{% endblock %}