<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            pikipi
            {% endblock %}
        </title>

        {% block head %}
        <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{base_path}}/vendor/bootstrap/css/bootstrap-select.min.css" rel="stylesheet">
        <link href="{{base_path}}/assets/css/site.css?version=3" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{base_path}}">pikipi</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    {% if user_logged_in %}
                    <ul class="nav navbar-nav">
                        <li><a href="{{base_path}}/courses">Kurssit</a></li>
                        {% if user_logged_in.is_teacher %}
                        <li><a href="{{base_path}}/messages">Viestit</a></li>
                        <li><a href="{{base_path}}/users">Käyttäjät</a></li>
                        {% endif %}
                    </ul>
                    <form class="navbar-form navbar-right" method="post" action="{{base_path}}/logout">
                        <button type="submit" class="btn btn-default">Kirjaudu ulos</button>
                    </form>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{base_path}}/login">Kirjaudu sisään</a></li>
                        <li><a href="{{base_path}}/register">Rekisteröidy</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div id="main-container">
            {% block content %}{% endblock %}
        </div>

        {% block body %}
        <script src="{{base_path}}/vendor/jquery.min.js"></script>
        <script src="{{base_path}}/vendor/Chart.min.js"></script>
        <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{base_path}}/vendor/bootstrap/js/bootstrap-select.min.js"></script>
        <script src="{{base_path}}/assets/js/site.js?version=4"></script>
        {% endblock %}
    </body>
</html>
