    {% extends "base.html" %}
{% block content %}
<h1>Tarkastele pisteitä</h1>

<form>
    <div class="form-group">
        <label for="sel">Kurssi</label>
        <select class="form-control" id="sel">
            <option>Johdatus yliopistomatematiikkaan (syksy 2015)</option>
            <option>Lineaarialgebra ja matriisilaskenta I (syksy 2015)</option>
        </select>
    </div>
    <div class="form-group">
        <label>Kurssitunnus</label>
        <input type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Lähetä</button>
</form>
{% endblock %}
